@{
    ViewBag.Twitter = "@aslunFR";
    ViewBag.NameDev = "AslunFR";
    Response.AppendHeader("Access-Control-Allow-Origin", "*");
    ViewBag.Project = "Efredia Framewok";
    ViewBag.urlcontent = "http://localhost";

}

<!DOCTYPE html>
<!----
 __             _               _   _
/ _\_   _ _ __ | |__   ___  ___| |_(_)_ __   __ _  ___ _ __
\ \| | | | '_ \| '_ \ / _ \/ __| __| | '_ \ / _` |/ _ \ '__|
_\ \ |_| | | | | | | | (_) \__ \ |_| | | | | (_| |  __/ |
\__/\__, |_| |_|_| |_|\___/|___/\__|_|_| |_|\__, |\___|_|
    |___/                                   |___/
             Site dev by Bastien Languedoc
                Twitter : aslunFR
  ------>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr-fr">
<!--<![endif]-->

<head>
    <!---- Meta SEO ------>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Project - @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.description" />
    <meta name="keywords" content=" @ViewBag.NameDev @ViewBag.Project">
    <meta name="Publisher" content="@ViewBag.NameDev [@ViewBag.email]" />
    <meta name="Geography" content="France">
    <meta name="country" content="France">
    <meta name="Language" content="French">
    <meta name="Copyright" content="@ViewBag.NameDev">
    <meta name="robots" content="index, follow">
    <meta name="image" content="@ViewBag.urlcontent/Models/v3/assets/images/icon_social.png">
    <!---- Meta Twitter ------>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@ViewBag.description" />
    <meta name="twitter:title" content="@ViewBag.Project - @ViewBag.Title" />
    <meta name="twitter:site" content="@ViewBag.Twitter" />
    <meta name="twitter:creator" content="@ViewBag.Twitter" />
    <meta name="twitter:image" content="@ViewBag.urlcontent/Models/v3/assets/images/icon_social.png">
    <!---- Meta property ------>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewBag.Project - @ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.description" />
    <meta property="og:url" content="@ViewBag.urlcontent" />
    <meta property="og:image" content="@ViewBag.urlcontent/assets/images/icon_social.png" />
    <meta property="og:site_name" content="@ViewBag.urlcontent" />
    <!-- Favicon -->
    <link href="/Models/hosting2019/img/synhicon_color.ico" rel="shortcut icon" />
    <!--CSS-->

    <link rel="stylesheet" href="/Models/v3/assets/css/fonticons.css">
    <link rel="stylesheet" href="/Models/v3/assets/fonts/stylesheet.css">
    <link rel="stylesheet" href="/Models/v3/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Models/v3/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Models/v3/assets/css/plugins.css" />
    <link rel="stylesheet" href="/Models/v3/assets/css/style.css">
    <link rel="stylesheet" href="/Models/v3/assets/css/responsive.css" />
    <link rel="stylesheet" href="/Models/v3/assets/css/sliders.css" />
    <!--JS-->
    <script src="~/Models/v3/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


</head>
<body data-spy="scroll" data-target="#navmenu">
    <header id="main_menu" class="header">
        <div class="main_menu_bg navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="nave_menu wow fadeInUp" data-wow-duration="1s">
                        <nav class="navbar navbar-default" id="navmenu">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <!--Logo Haut-->
                                    <a class="navbar-brand" href="#"><img src="/Models/v3/assets/images/logo.png" alt="Logo de @ViewBag.Project" /></a>
                                </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <!--Menu Haut-->
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class=""><a href="/">Accueil</a></li>
                                        <li class=""><a href="/vps">Hébergement VPS</a></li>
                                        <li class=""><a href="/web">Hébergement Web</a></li>
                                        <li class=""><a href="~/ticket.html">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!--Fin du header-->
    <section id="home" class="home">
        <div class="home-overlay-fluid">
            <div class="container">
                <div class="row">
                    <div class="main_slider_area">
                        <div class="slider">
                            <!--Slide Haut-->
                            <div class="single_slider wow fadeIn" data-wow-duration="2s">
                                <h2> @ViewBag.slidertitle</h2>
                                <p>@ViewBag.slidertext</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="body">
        <!--Body -->
        @RenderSection("featured", required: false)
        @RenderBody()
        <!--Fin Body -->
    </div>
    <!--Footer -->
    <section id="footer" class="footer sections">
        <div class="container">
            <div class="row">
                <div class="main_footer wow fadeInDown" data-wow-duration="2s">
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer_logo">
                            <a href=""><img src="/Models/v3/assets/images/logo.png" alt="Logo de @ViewBag.Project" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="footer_bottom_area">
                            <div class="col-sm-9 col-xs-12">
                                <div class="fo_bottom_right">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="single_right_footer wow fadeIn" data-wow-duration="1s">
                                                <p>AslunFR est un développeur ASP.NET C# depuis 2017.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="single_right_footer wow fadeIn" data-wow-duration="1.5s">
                                                <ul>
                                                    <li><a href="~/pdf/Mentions_Legales.pdf"><i class="lnr lnr-chevron-right"></i>Mentions légales</a></li>
                                                    <li><a href="~/pdf/cookies.pdf"><i class="lnr lnr-chevron-right"></i>Politique de cookies</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="single_right_footer wow fadeIn" data-wow-duration="2s">
                                                <ul>
                                                    <li><a href="https://www.facebook.com/synhostinger/"><i class="lnr lnr-chevron-right"></i> Facebook</a></li>
                                                    <li><a href="https://twitter.com/synhostinger_fr"><i class="lnr lnr-chevron-right"></i> Twitter</a></li>
                                                    <li><a href="https://discord.gg/Xg8KYnE"><i class="lnr lnr-chevron-right"></i> Discord</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="fo_bottom_socail wow fadeIn" data-wow-duration="2.3s">
                                    <a href="#"><i class="fa fa-gavel"> Siret : </i></a>
                                    <a href="mailto:admin@localhost.fr"><i class="fa fa-envelope"></i> admin@localhost.fr</a>
                                    <p>En France </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!--Fin Footer -->
    <!--Copyright-->
    <footer id="coppyrights" class="coppyrights">
        <div class="container-fluid">
            <div class="row">
                <div class="coppyright">
                    <p class="wow fadeInUp" data-wow-duration="2s">  Copyright &copy; @ViewBag.Project  @DateTime.Now.Year All rights reserved - Efredia V3</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!--Fin Copyright-->
    <script src="~/Models/v3/assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="~/Models/v3/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Models/v3/assets/js/jquery.easypiechart.min.js"></script>

    <script src="~/Models/v3/assets/js/plugins.js"></script>
    <script src="~/Models/v3/assets/js/main.js"></script>
</body>
</html>

