<!--INDEX PAGE /view/Home/Index.cshtml-->
<section id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="main_service text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeIn" data-wow-duration=".6s">
                        <div class="single_service_icon icon_one">
                            <a href=""><i class="fa fa-server"></i></a>
                        </div>
                        <div class="single_service_deatels">
                            <h4>@ViewBag.col1title</h4>
                            <p>@ViewBag.col1text</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeIn" data-wow-duration="1.2s">
                        <div class="single_service_icon icon_two">
                            <a href=""><i class="fa fa-sellsy"></i></a>
                        </div>
                        <div class="single_service_deatels">
                            <h4>@ViewBag.col2title</h4>
                            <p>@ViewBag.col2text</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeIn" data-wow-duration="1.7s">
                        <div class="single_service_icon icon_three">
                            <a href=""><i class="fa fa-hdd-o"></i></a>
                        </div>
                        <div class="single_service_deatels">
                            <h4>@ViewBag.col3title</h4>
                            <p>@ViewBag.col3text</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single_service wow fadeIn" data-wow-duration="2s">
                        <div class="single_service_icon icon_four">
                            <a href=""><i class="fa fa-comments"></i></a>
                        </div>
                        <div class="single_service_deatels">
                            <h4>@ViewBag.col4title</h4>
                            <p>@ViewBag.col4text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pricingtop" class="pricingtop">
    <div class="overlay">
        <div class="container">
            <div class="main_pricingtop"></div>
        </div>
    </div>
</section>
<section id="pricing" class="pricing">
    <div class="container">
        <div class="row">
            <div class="main_pricing">

                <div class="pricing_content">
                    <div class="col-md-3 col-sm-6">
                        <div class="single_pricing pricing_color_one wow fadeIn" data-wow-duration=".6s">
                            <div class="pricing_head text-center">
                                <div class="icon_area p_icon_one">
                                    <i class="fa fa-star"></i>
                                </div>
                                <h3>Web1</h3>
                                <div class="separator"></div>
                            </div>
                            <figure class="single_pricing_figure">
                                <ul>
                                    <li><span class="princing_name">Espace disque (Go)</span> <span class="princing_price princing_price_one">1</span></li>
                                    <li><span class="princing_name">Nombre de site</span> <span class="princing_price princing_price_one">1</span></li>
                                    <li><span class="princing_name">Bases de données</span> <span class="princing_price princing_price_one">3</span></li>
                                    <li><span class="princing_name">Anti-DDoS</span> <span class="princing_price princing_price_one">10G</span></li>
                                    <li><span class="princing_name">Support</span> <span class="princing_price princing_price_one">Inclut</span></li>

                                </ul>
                                <div class="separator"></div>
                            </figure>

                            <footer class="pricing_footer text-center">
                                <h3</span> 0.24<span class="dolor">€ <span class="month">/Mois  </span></h3>
                                <div class="smallseparator separetor_one"></div>
                                <a href="">Bientôt</a>
                            </footer>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single_pricing pricing_color_two wow fadeIn" data-wow-duration="1.2s">
                            <div class="pricing_head text-center">
                                <div class="icon_area p_icon_two">
                                    <i class="fa fa-star"></i>
                                </div>
                                <h3>VPS Personal</h3>
                                <div class="separator"></div>
                            </div>
                            <figure class="single_pricing_figure">
                                <ul>
                                    <li><span class="princing_name">Nombre de vCPU</span> <span class="princing_price princing_price_one">4</span></li>
                                    <li><span class="princing_name">Mémoire (RAM)</span> <span class="princing_price princing_price_one">8</span></li>
                                    <li><span class="princing_name">Espace disque (Go)</span> <span class="princing_price princing_price_one">10</span></li>
                                    <li><span class="princing_name">Anti-DDoS</span> <span class="princing_price princing_price_one">10G</span></li>
                                    <li><span class="princing_name">Système</span> <span class="princing_price princing_price_one">Linux</span></li>
                                </ul>
                                <div class="separator"></div>
                            </figure>

                            <footer class="pricing_footer text-center">
                                <h3</span> 5.99<span class="dolor">€ <span class="month">/Mois  </span></h3>
                                <div class="smallseparator separetor_one"></div>
                                <a href="">Commander</a>
                            </footer>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single_pricing pricing_color_three wow fadeIn" data-wow-duration="1.8s">
                            <div class="pricing_head text-center">
                                <div class="icon_area p_icon_three">
                                    <i class="fa fa-star"></i>
                                </div>
                                <h3>Web50</h3>
                                <div class="separator"></div>
                            </div>
                            <figure class="single_pricing_figure">
                                <ul>
                                    <li><span class="princing_name">Espace disque (Go)</span> <span class="princing_price princing_price_one">50</span></li>
                                    <li><span class="princing_name">Nombre de site</span> <span class="princing_price princing_price_one">50</span></li>
                                    <li><span class="princing_name">Bases de données</span> <span class="princing_price princing_price_one">50</span></li>
                                    <li><span class="princing_name">Anti-DDoS</span> <span class="princing_price princing_price_one">10G</span></li>
                                    <li><span class="princing_name">Support</span> <span class="princing_price princing_price_one">Inclut</span></li>

                                </ul>
                                <div class="separator"></div>
                            </figure>

                            <footer class="pricing_footer text-center">
                                <h3</span> 15.99<span class="dolor">€ <span class="month">/Mois  </span></h3>
                                <div class="smallseparator separetor_one"></div>
                                <a href="">Bientôt</a>
                            </footer>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single_pricing pricing_color_four wow fadeIn" data-wow-duration="2.3s">
                            <div class="pricing_head text-center">
                                <div class="icon_area p_icon_four">
                                    <i class="fa fa-star"></i>
                                </div>
                                <h3>Dédié Virtuel</h3>
                                <div class="separator"></div>
                            </div>

                            <figure class="single_pricing_figure">
                                <ul>
                                    <li><span class="princing_name">Nombre de vCPU</span> <span class="princing_price princing_price_one">12</span></li>
                                    <li><span class="princing_name">Mémoire (RAM)</span> <span class="princing_price princing_price_one">64</span></li>
                                    <li><span class="princing_name">Espace disque (Go)</span> <span class="princing_price princing_price_one">150</span></li>
                                    <li><span class="princing_name">Anti-DDoS</span> <span class="princing_price princing_price_one">10G</span></li>
                                    <li><span class="princing_name">Système</span> <span class="princing_price princing_price_one">Tous</span></li>
                                </ul>
                                <div class="separator"></div>
                            </figure>

                            <footer class="pricing_footer text-center">
                                <h3</span> 45.99<span class="dolor">€ <span class="month">/Mois  </span></h3>
                                <div class="smallseparator separetor_one"></div>
                                <a href="">Bientôt</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="abouts_area">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="single_about wow fadeInLeft" data-wow-duration="1.5s">
                                <h3>BLABLA</h3>
                                <p>
                                    BLABLA

                                </p>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="single_about_right wow fadeInRight" data-wow-duration="1.5s">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="single_team text-center">
                                            <div class="team_img">
                                                <img src="https://pbs.twimg.com/profile_images/1357429625710927873/9tv69O2__400x400.jpg" alt="" />
                                            </div>
                                            <div class="team_deatels">
                                                <h4>Aslun (Bastien)</h4>
                                                <p>Développeur ASP.NET</p>
                                                <div class="team_socail">
                                                    <a href="https://twitter.com/aslunfr"><i class="fa fa-twitter"></i></a>
                                                    <a href="https://www.synhostinger.com/"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single_team text-center">
                                            <div class="team_img">
                                                <img src="https://pbs.twimg.com/profile_images/1357429625710927873/9tv69O2__400x400.jpg" alt="" />
                                            </div>
                                           <div class="team_deatels">
                                            <h4>Aslun (Bastien)</h4>
                                            <p>Développeur ASP.NET</p>
                                            <div class="team_socail">
                                                <a href="https://twitter.com/aslunfr"><i class="fa fa-twitter"></i></a>
                                                <a href="https://www.synhostinger.com/"><i class="fa fa-link"></i></a>
                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single_team text-center">
                                            <div class="team_img">
                                                <img src="https://pbs.twimg.com/profile_images/1357429625710927873/9tv69O2__400x400.jpg" alt="" />
                                            </div>
                                           <div class="team_deatels">
                                            <h4>Aslun (Bastien)</h4>
                                            <p>Développeur ASP.NET</p>
                                            <div class="team_socail">
                                                <a href="https://twitter.com/aslunfr"><i class="fa fa-twitter"></i></a>
                                                <a href="https://www.synhostinger.com/"><i class="fa fa-link"></i></a>
                                            </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section><!-- End of Pricing Section -->

<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_3b41" data-image-width="150" data-image-height="97">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-black u-text-default u-title u-text-1">Nos fournisseurs</h1>
        <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-12 u-size-20-md u-white u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <img src="/Models/v3/assets/images/partners/2.svg" alt="" class="u-image u-image-contain u-image-default u-image-1" data-image-width="500" data-image-height="175">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-size-12 u-size-20-md u-white u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <img src="/Models/v3/assets/images/partners/1.svg" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="500" data-image-height="135">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-size-12 u-size-20-md u-white u-layout-cell-3">
                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                            <img src="/Models/v3/assets/images/partners/4.png" alt="" class="u-image u-image-contain u-image-default u-image-3" data-image-width="1280" data-image-height="534">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-size-12 u-size-30-md u-white u-layout-cell-4">
                        <div class="u-container-layout u-valign-middle u-container-layout-4">
                            <img src="/Models/v3/assets/images/partners/3.svg" alt="" class="u-image u-image-contain u-image-default u-image-4" data-image-width="340" data-image-height="135">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-12 u-size-30-md u-white u-layout-cell-5">
                        <div class="u-container-layout u-valign-middle u-container-layout-5">
                            <img src="/Models/v3/assets/images/partners/5.png" alt="" class="u-image u-image-default u-image-5" data-image-width="599" data-image-height="280">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


